# Copyright 2014 The Android Open Source Project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on init
    # cpuquiet rqbalance permissions
    chown system system /sys/devices/system/cpu/cpuquiet/nr_min_cpus
    chown system system /sys/devices/system/cpu/cpuquiet/nr_power_max_cpus
    chown system system /sys/devices/system/cpu/cpuquiet/nr_thermal_max_cpus
    chown system system /sys/devices/system/cpu/cpuquiet/rqbalance/balance_level
    chown system system /sys/devices/system/cpu/cpuquiet/rqbalance/nr_run_thresholds
    chown system system /sys/devices/system/cpu/cpuquiet/rqbalance/nr_down_run_thresholds
    chmod 0660 /sys/devices/system/cpu/cpuquiet/nr_min_cpus
    chmod 0660 /sys/devices/system/cpu/cpuquiet/nr_power_max_cpus
    chmod 0660 /sys/devices/system/cpu/cpuquiet/nr_thermal_max_cpus
    chmod 0660 /sys/devices/system/cpu/cpuquiet/rqbalance/balance_level
    chmod 0660 /sys/devices/system/cpu/cpuquiet/rqbalance/nr_run_thresholds
    chmod 0660 /sys/devices/system/cpu/cpuquiet/rqbalance/nr_down_run_thresholds

on charger
    # Disable thermal
    write /sys/module/msm_thermal/core_control/enabled 0

    # Bring CPUs online
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # Configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000

    # Configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "powersave"
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 384000

    # Bring CPUs offline
    write /sys/devices/system/cpu/cpu1/online 0
    write /sys/devices/system/cpu/cpu2/online 0
    write /sys/devices/system/cpu/cpu3/online 0
    write /sys/devices/system/cpu/cpu4/online 0
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

    # Enable thermal
    write /sys/module/msm_thermal/core_control/enabled 1

on boot
    # ensure at most one A57 is online when thermal hotplug is disabled
    write /sys/devices/system/cpu/cpu5/online 0
    write /sys/devices/system/cpu/cpu6/online 0
    write /sys/devices/system/cpu/cpu7/online 0

    # Limit A57 max freq from msm_perf module in case CPU 4 is offline
    write /sys/module/msm_performance/parameters/cpu_max_freq "4:960000 5:960000 6:960000 7:960000"

    # Disable thermal
    write /sys/module/msm_thermal/core_control/enabled 0

    # Allow throttling cpus as a cluster
    # This is to compensate for the lack of perfd and libqti-perf-client.so
    write /sys/module/msm_performance/parameters/num_clusters 2
    write /sys/module/msm_performance/parameters/managed_cpus "0-3"
    write /sys/module/msm_performance/parameters/managed_cpus "4-7"

    # disable thermal bcl hotplug to switch governor
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/devices/soc.0/qcom,bcl.63/mode "disable"
    write /sys/devices/soc.0/qcom,bcl.63/hotplug_mask 0
    write /sys/devices/soc.0/qcom,bcl.63/hotplug_soc_mask 0
    write /sys/devices/soc.0/qcom,bcl.63/mode "enable"
    write /sys/devices/soc.0/qcom,bcl.64/mode "disable"
    write /sys/devices/soc.0/qcom,bcl.64/hotplug_mask 0
    write /sys/devices/soc.0/qcom,bcl.64/hotplug_soc_mask 0
    write /sys/devices/soc.0/qcom,bcl.64/mode "enable"

    # Configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/above_hispeed_delay 19000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/timer_rate 10000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/hispeed_freq 960000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/target_loads 85
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/min_sample_time 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/interactive/max_freq_hysteresis 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000

    # online CPU4
    write /sys/devices/system/cpu/cpu4/online 1

    # Configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "interactive"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_sched_load 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/use_migration_notif 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/above_hispeed_delay "19000 1400000:39000 1700000:19000"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/go_hispeed_load 90
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_rate 10000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/hispeed_freq 1248000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/io_is_busy 1
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/target_loads "85 1500000:90 1800000:70"
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/min_sample_time 40000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/max_freq_hysteresis 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/interactive/timer_slack 10000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 384000

    # Userspace control of cpuquiet settings
    chown system system /sys/devices/system/cpu/cpuquiet/nr_min_cpus
    chown system system /sys/devices/system/cpu/cpuquiet/nr_power_max_cpus
    chown system system /sys/devices/system/cpu/cpuquiet/nr_thermal_max_cpus
    chmod 0664 /sys/devices/system/cpu/cpuquiet/nr_min_cpus
    chmod 0664 /sys/devices/system/cpu/cpuquiet/nr_power_max_cpus
    chmod 0664 /sys/devices/system/cpu/cpuquiet/nr_thermal_max_cpus

    # restore A57's max
    copy /sys/devices/system/cpu/cpu4/cpufreq/cpuinfo_max_freq /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq

    # enable boost for cgroup's tasks
    write /dev/cpuctl/cpu.sched_boost 1

    # disallow upmigrate for cgroup's tasks
    write /dev/cpuctl/bg_non_interactive/cpu.upmigrate_discourage 1

    # re-enable thermal
    write /sys/module/msm_thermal/core_control/enabled 1

    # re-enable BCL hotplug
    write /sys/devices/soc.0/qcom,bcl.63/mode "disable"
    write /sys/devices/soc.0/qcom,bcl.63/hotplug_mask 192
    write /sys/devices/soc.0/qcom,bcl.63/hotplug_soc_mask 240
    write /sys/devices/soc.0/qcom,bcl.63/mode "enable"
    write /sys/devices/soc.0/qcom,bcl.64/mode "disable"
    write /sys/devices/soc.0/qcom,bcl.64/hotplug_mask 192
    write /sys/devices/soc.0/qcom,bcl.64/hotplug_soc_mask 240
    write /sys/devices/soc.0/qcom,bcl.64/mode "enable"

    # enable LPM
    write /sys/module/lpm_levels/parameters/sleep_disabled 0

    # Restore CPU 4 max freq from msm_performance
    write /sys/module/msm_performance/parameters/cpu_max_freq "4:4294967295 5:4294967295 6:4294967295 7:4294967295"

    # input boost configuration
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1344000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 40

    # Setting b.L scheduler parameters
    write /proc/sys/kernel/sched_migration_fixup 1
    write /proc/sys/kernel/sched_small_task 60
    write /proc/sys/kernel/sched_mostly_idle_load 20
    write /proc/sys/kernel/sched_mostly_idle_nr_run 3
    write /proc/sys/kernel/sched_upmigrate 99
    write /proc/sys/kernel/sched_downmigrate 90
    write /proc/sys/kernel/sched_init_task_load 30
    write /proc/sys/kernel/sched_freq_inc_notify 400000
    write /proc/sys/kernel/sched_freq_dec_notify 400000
    write /proc/sys/kernel/sched_boost 0

    # Enable rps static configuration
    write /sys/class/net/rmnet_ipa0/queues/rx-0/rps_cpus 8

    # Setting b.L per-core scheduler parameters
	write /sys/devices/system/cpu/cpu0/sched_mostly_idle_nr_run 5
	write /sys/devices/system/cpu/cpu0/sched_mostly_idle_load 60
	write /sys/devices/system/cpu/cpu0/sched_mostly_idle_freq 960000
	write /sys/devices/system/cpu/cpu0/sched_prefer_idle 0
	write /sys/devices/system/cpu/cpu1/sched_mostly_idle_nr_run 5
	write /sys/devices/system/cpu/cpu1/sched_mostly_idle_load 60
	write /sys/devices/system/cpu/cpu1/sched_mostly_idle_freq 960000
	write /sys/devices/system/cpu/cpu1/sched_prefer_idle 0
	write /sys/devices/system/cpu/cpu2/sched_mostly_idle_nr_run 5
	write /sys/devices/system/cpu/cpu2/sched_mostly_idle_load 60
	write /sys/devices/system/cpu/cpu2/sched_mostly_idle_freq 960000
	write /sys/devices/system/cpu/cpu2/sched_prefer_idle 0
	write /sys/devices/system/cpu/cpu3/sched_mostly_idle_nr_run 5
	write /sys/devices/system/cpu/cpu3/sched_mostly_idle_load 60
	write /sys/devices/system/cpu/cpu3/sched_mostly_idle_freq 960000
	write /sys/devices/system/cpu/cpu3/sched_prefer_idle 0

    # Setting b.L per-core scheduler parameters
	write /sys/devices/system/cpu/cpu4/sched_mostly_idle_nr_run 3
	write /sys/devices/system/cpu/cpu4/sched_mostly_idle_load 20
	write /sys/devices/system/cpu/cpu4/sched_mostly_idle_freq 0
	write /sys/devices/system/cpu/cpu4/sched_prefer_idle 0
	write /sys/devices/system/cpu/cpu5/sched_mostly_idle_nr_run 3
	write /sys/devices/system/cpu/cpu5/sched_mostly_idle_load 20
	write /sys/devices/system/cpu/cpu5/sched_mostly_idle_freq 0
	write /sys/devices/system/cpu/cpu5/sched_prefer_idle 0
	write /sys/devices/system/cpu/cpu6/sched_mostly_idle_nr_run 3
	write /sys/devices/system/cpu/cpu6/sched_mostly_idle_load 20
	write /sys/devices/system/cpu/cpu6/sched_mostly_idle_freq 0
	write /sys/devices/system/cpu/cpu6/sched_prefer_idle 0
	write /sys/devices/system/cpu/cpu7/sched_mostly_idle_nr_run 3
	write /sys/devices/system/cpu/cpu7/sched_mostly_idle_load 20
	write /sys/devices/system/cpu/cpu7/sched_mostly_idle_freq 0
	write /sys/devices/system/cpu/cpu7/sched_prefer_idle 0

    # Android background processes are set to nice 10. Never schedule these on the A57
    write /proc/sys/kernel/sched_upmigrate_min_nice 9

        # Write specific governors
    write /sys/class/devfreq/qcom,cpubw.33/governor "bw_hwmon"
    write /sys/class/devfreq/qcom,mincpubw.34/governor "cpufreq"
    write /sys/class/devfreq/qcom,cpubw.34/governor "bw_hwmon"
    write /sys/class/devfreq/qcom,mincpubw.35/governor "cpufreq"

    # change GPU initial power level from 305MHz(level 4) to 180MHz(level 5) for power savings
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 5
